@page "/"
@using Tymr.Client.Features

<PageTitle>Tymr</PageTitle>

<h1 class="text-secondary">@DateTime.Today.DayOfWeek, @DateTime.Today.ToString("d")</h1>
<h4>Full CI/CD</h4>
<TimeEntryEditForm></TimeEntryEditForm>